.App {
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  background-color: #23E5FF;
  height: 256px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App-heading {
  font-weight: 800;
  font-style: italic;
}