.InvoiceItem {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.5rem 0;
  padding: 0 1.5rem 1rem;
  border-bottom: 0.09rem solid #eee;
}
.InvoiceItem:first-child {
  padding-top: 1rem;
}
.InvoiceItem-input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0.09rem solid #eee
}
.InvoiceItem-input:read-only {
  border: 0;
}
.InvoiceItem-btn {
  border-radius: 50%;
  border: 0.09rem solid #eee;
  background: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}