.InvoiceItem-input {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: #eee 0.09rem solid;

}
.InvoiceItem {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem 0;
}